# [Environment]
PORT= # port
NODE_ENV= # production | development

# [App Info]
APP_NAME= # app name

BASE_URL= # (hostname + port) for swagger docs

# [Config]
# => Cache Expiration
CACHE_EXPIRATION=

# => JWT Keys
JWT_ACCESS_TOKEN_EXPIRES=
JWT_ACCESS_TOKEN_KEY=

# [Email Sending Infos]
EMAIL_SENDING_LOGO=

EMAIL_SENDING_SOCIAL_ICONS_X=
EMAIL_SENDING_SOCIAL_ICONS_LINKEDIN=
EMAIL_SENDING_SOCIAL_ICONS_INSTAGRAM=
EMAIL_SENDING_SOCIAL_ICONS_FACEBOOK=

# [Database] - Database credentials. DB_CERTIFICATE is optional depending on usecase
DB_URL=
DB_TYPE=
DB_SSL=
DB_CERTIFICATE=

# [Redis]
REDIS_APP_KEY_PREFIX= # Needed especially if app shares same redis server with other apps 
REDIS_URL=

# [Email Config]
EMAIL_TEST= # Live email sending in dev environment

# => Mailtrap Test - Sample Email Configs: Any email provider can be used so long as SMTP creds are provided for nodemailer, or implemented anyhow to match IEmailServiceProvider
MAILTRAP_SANDBOX_USER=
MAILTRAP_SANDBOX_PASS=
MAILTRAP_SANDBOX_HOST=
MAILTRAP_SANDBOX_PORT=

# => Mailtrap Prod
MAILTRAP_USER=
MAILTRAP_PASS=
MAILTRAP_HOST=
MAILTRAP_PORT=

# [AWS]
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=
AWS_FILES_BASE_URL=